<p id="notice"><%= notice %></p>

<p>
  <strong>Total cost:</strong>
  <%= @order.total_cost %>
</p>

<p>
  <strong>Payment stage:</strong>
  <%= @order.payment_stage %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>




<% @order.products.each do |product| %>
  <table class = "table table-bordered">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product#</th>
        <th>Name</th>
        <th>Cost</th>
      </tr>
    </thead>
  <tr>
    <td><%= image_tag product.image %></td>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.cost %></td>
  </tr>
</table>
<% end %>






<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
